<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RecFlix - Movie Results</title>
		<!-- SPICY CSS FORMATTING -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<!-- INCLUDES FOR JQUERY SUGGESTION MAGIC -->
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
		<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
		<script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
		<!-- INCLUDE FOR BOOTSTRAP FORMATTING -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- LIGHTBOX INCLUDES -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lity.css') }}">
		<script src="{{url_for('static', filename='js/lity.js')}}"></script>
		 <!-- INCLUDE BOOTSTRAP WIZARDRY -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- CHANGE THE JUMBOTRON BG TO THE SELECTED MOVIE BACKGROUND -->
				<div class="jumbotron moviemask" style="text-align: center; margin-top:-30px !important; background: linear-gradient(to bottom, rgba(23, 23, 24, 0.87), rgba(2, 2, 2, 0.73)),url({{ bgurl }}) no-repeat; background-size: cover;">
					<div class="row">
							<div class='col-md-4'></div>
							<div class='col-md-4'>
									<a href="../"><img src="{{ url_for('static',filename='img/recflix-logo.png') }}"/></a>
							</div>
							<div class='col-md-4'>
								<!-- SUPER COOL FLASK/JQUERY AUTOCOMPLETE FORM -->
								<form method="POST" novalidate>
									<div class="autocomplete" style="width:300px;">
										{{ form.autocomp (placeholder="Enter Movie Title")}} 
									</div>
										{{ form.submit() }}
								</form>
								<!-- JQUERY/AJAX SCRIPT FOR SAID AUTOCOMPLETE FORM. CONNECTS TO THE AUTOCOMPLETE ROUTE IN FLASK -->
								<script>
									$(function() {
										$.ajax({
											url: '{{ url_for("autocomplete") }}'
												}).done(function (data){
													$('#movie_autocomplete').autocomplete({
														source: data,
														minLength: 2
													});
												});
										});
									</script>
							</div>
						</div>
					<div class="row">					
						<div class='col-md-4'><div class="item" style="float: right;"><img class='hoverborder border' style='width: 225px; height: 338px; margin: 0px; float: left;' src='{{ titleurl }}'></div></div>
						<div class="col-md-6">
							<div class='overview' style="text-align: left;">
							<h4>{{ movieTitle }}</h4>
							<p>{{ description }}</p>
							<h6 style="color: #fff;">Runtime: <span style="color: #c0c0c0 !important;">{{ runtime }} minutes</span></h6>
							{% if trailer_url == 'None' %}
							No Trailer Available
							{% else  %}
							<a href="{{ trailer_url }}" data-lity><button class="button-styled" >Watch Trailer</button></a>
							{% endif %}
							
						</div>
							</div>
					</div>
				</div>
				<div class="jumbotron" style="text-align: center; background: #010101; padding-top: 10px !important;">
					<div class="row"><h4 style="margin: 0;">Based on your selection of {{ movieTitle }}, here are some movies that you might find interesting:</h3></div>
					<div class="row col-centered" style="text-align: center; margin-left: 10px;">
						<!-- MOVIE SUGGESTIONS -->
						<div class='col-md-2'><div class="item"><a href='{{moviename[0]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 20px 0 0 0; float: left; border: 1px solid black;' src='{{url1[0]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[1]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 20px 0 0 0; float: left; border: 1px solid black;' src='{{url1[1]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[2]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 20px 0 0 0; float: left; border: 1px solid black;' src='{{url1[2]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[3]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 20px 0 0 0; float: left; border: 1px solid black;' src='{{url1[3]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[4]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 20px 0 0 0; float: left; border: 1px solid black;' src='{{url1[4]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[5]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 20px 0 0 0; float: left; border: 1px solid black;' src='{{url1[5]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[6]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 0 0 0 0; float: left; border: 1px solid black;' src='{{url1[6]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[7]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 0 0 0 0; float: left; border: 1px solid black;' src='{{url1[7]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[8]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 0 0 0 0; float: left; border: 1px solid black;' src='{{url1[8]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[9]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 0 0 0 0; float: left; border: 1px solid black;' src='{{url1[9]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[10]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 0 0 0 0; float: left; border: 1px solid black;' src='{{url1[10]}}'></a></div></div>                    
						<div class='col-md-2'><div class="item"><a href='{{moviename[11]}}'><img class='hoverborder' style='width: 180px; height: 270px; margin: 0 0 0 0; float: left; border: 1px solid black;' src='{{url1[11]}}'></a></div></div>			
					</div>
					<a href="../"><button class="button-styled" >Go Back</button></a>
					<div class="row bottomButton" style="padding: 25px 0 0 0;">
							<a href="https://github.com/GregLeland/">A Data Science and Machine Learning project created by Greg Leland for educational purposes.</a>
						</div>
				</div>
				
			</div>		
		</div>
	</div>
	<!-- MORE INCLUDES... FOR THINGS... AND STUFF... -->
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>