<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RecFlix - A movie recommendation system by Greg Leland</title>
		<!-- SPICY CSS FORMATTING -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<!-- INCLUDES FOR JQUERY SUGGESTION MAGIC -->
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
		<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
		<script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
		<!-- INCLUDE FOR BOOTSTRAP FORMATTING -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- LIGHTBOX INCLUDES -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lity.css') }}">
		<script src="{{url_for('static', filename='js/lity.js')}}"></script>
		 <!-- INCLUDE BOOTSTRAP WIZARDRY -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron" style="text-align: center; background: url({{ url_for('static',filename='img/bg1.jpg') }}) no-repeat; background-size: cover;">
						<div class="row">
							<div class='col-md-4'></div>
							<div class='col-md-4'>
								<img src="{{ url_for('static',filename='img/recflix-logo.png') }}"/>
							</div>
							<div class='col-md-4'>
								<!-- SUPER COOL FLASK/JQUERY AUTOCOMPLETE FORM -->
								<form method="POST" novalidate>
									<div class="autocomplete" style="width:300px;">
										{{ form.autocomp (placeholder="Enter Movie Title")}} 
									</div>
										{{ form.submit() }}
								</form>
								<!-- JQUERY/AJAX SCRIPT FOR SAID AUTOCOMPLETE FORM. CONNECTS TO THE AUTOCOMPLETE ROUTE IN FLASK -->
								<script>
									$(function() {
										$.ajax({
											url: '{{ url_for("autocomplete") }}'
												}).done(function (data){
													$('#movie_autocomplete').autocomplete({
														source: data,
														minLength: 2
													});
												});
										});
									</script>
							</div>
						</div>
						<h4>
Looking for a movie to watch, but can't think of one? No problem. Pick a movie you've enjoyed and let the algoritm do the rest.</h4>
						<p>
							Select a move below or search for a movie above to get some recommendations
						</p>
						<div id="movie_selection" class="row" style="margin-top: 30px;">
							<!-- MOVIE RANDOM SELECTION -->
							<div class='col-md-2'><div class="item"><a href='rec/{{title2[0]}}'><img class='border' style='width: 225px; height: 338px; margin: 0px; float: left;' src={{url[0]}}></a></div></div>   
							<div class='col-md-2'><div class="item"><a href='rec/{{title2[1]}}'><img class='border' style='width: 225px; height: 338px; margin: 0px; float: left;' src={{url[1]}}></a></div></div>
							<div class='col-md-2'><div class="item"><a href='rec/{{title2[2]}}'><img class='border' style='width: 225px; height: 338px; margin: 0px; float: left;' src={{url[2]}}></a></div></div>                    
							<div class='col-md-2'><div class="item"><a href='rec/{{title2[3]}}'><img class='border' style='width: 225px; height: 338px; margin: 0px; float: left;' src={{url[3]}}></a></div></div>                    
							<div class='col-md-2'><div class="item"><a href='rec/{{title2[4]}}'><img class='border' style='width: 225px; height: 338px; margin: 0px; float: left;' src={{url[4]}}></a></div></div>                    
							<div class='col-md-2'><div class="item"><a href='rec/{{title2[5]}}'><img class='border' style='width: 225px; height: 338px; margin: 0px; float: left;' src={{url[5]}}></a></div></div>				
						</div>
						<!-- REFRESH PAGE TO GET ANOTHER RANDOM SELECTION -->
						<div class="row" style="display: inline-block; margin: 10px 0 -10px 0;">
							<h3 style="margin:15px 0 20px 0">Don't see anything you like?</h3>
							<button class="button-styled" type="submit"  onClick="refreshPage()">Load New Movies</button>
							<script>
								function refreshPage(){
									window.location.reload();
								} 
							</script>	
						</div>		
						<div class="row bottomButton" style="padding: 25px 0 0 0;">
								<a href="https://github.com/GregLeland/">A Data Science and Machine Learning project created by Greg Leland for educational purposes.</a>
							</div>
					</div>
				</div>
			</div>
		</div>
<!-- MORE INCLUDES -->   
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>