body { 
    background: black !important;
    color: #c0c0c0 !important;
} 

.hoverborder {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.527), 0 10px 20px 0 rgba(0, 0, 0, 0.295);
}

.hoverborder:hover {
    box-shadow: 0 0 15px rgba(243, 9, 9, 0.986); 	
}
.hoverbordermain {
    box-shadow: 0 0 15px rgba(243, 9, 9, 0.986); 	
}

h4 {
    color: #fff;
}

form {
  display: flex !important;
  align-items: center !important; /* Vertical alignment */
}

a {
    color: #fff !important;
}


input[type=text] {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left:20px;
    height: 35px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff0101;
    color: #fff;
    width: 100%;
    display: block;
    margin: 15px auto;
    max-width: 500px;
    width: 100%;
}

input[type=submit] {
    background-color: #ff0101;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff0101;
    color: #fff;
    width: auto;
    height: auto;
    margin-left: 10px;
}
.autocomplete {
  position: relative;
  display: inline-block;
}

*:focus {
    outline: none;
}

.button-styled{
    background-color: #ff0101;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff0101;
    color: #fff;
    height: 30px;
    width: 150px;
    margin: 10px auto;
}

.ui-menu-item{
    padding: 10px 0 0 10px;
    cursor: pointer;
    background-color:  rgba(23, 23, 24, 0.87); 
    border-bottom: 1px solid rgba(231, 5, 5, 0.719); 
    color: #fff;
}

.ui-menu-item:hover {
      /*when hovering an item:*/
      background-color: #222; 
}

.ui-widget-content {
    background: transparent !important;
    border: none !important;
}

.item {
    transition: transform .1s;
      width: 225px;
      height: 338px;
      margin: 0 auto;
    
}

.item:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
}
.overview{
    height: 325px;
    display:table-cell;
    vertical-align:middle;
}
.resultbox {
    display: flex !important;
    align-items: center !important; /* Vertical alignment */
  }

.bottomButton {
    display: flex !important;
    align-items: center !important; /* Vertical alignment */
    justify-content: center; /* Horizontal center alignment */
}

.alternateRow{
    background: #080808;
    margin-bottom: 5px !important;
}
.moviemask{
-webkit-box-shadow: inset 20px 30px 150px 100px #000000;
box-shadow: inset 20px 30px 150px 100px #000000;
}